<section id="resources">
    <article  class="center-box">
        <h2>Resources</h2>
        <p class="text-m">Helpful resources to make designing things more awesome.</p>

        <h3 class="headline">Tools</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde repellendus similique tempora, facilis mollitia aspernatur praesentium iure. Harum asperiores laborum maiores fuga molestias magnam soluta quae qui vitae! Voluptates, quibusdam!</p>

        <h3 class="headline">Movies</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde repellendus similique tempora, facilis mollitia aspernatur praesentium iure. Harum asperiores laborum maiores fuga molestias magnam soluta quae qui vitae! Voluptates, quibusdam!</p>

        <h3 class="headline">Podcasts</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde repellendus similique tempora, facilis mollitia aspernatur praesentium iure. Harum asperiores laborum maiores fuga molestias magnam soluta quae qui vitae! Voluptates, quibusdam!</p>
        
        <h3 class="headline">Downloads</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde repellendus similique tempora, facilis mollitia aspernatur praesentium iure. Harum asperiores laborum maiores fuga molestias magnam soluta quae qui vitae! Voluptates, quibusdam!</p>
        
        <h3 class="headline">Links</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde repellendus similique tempora, facilis mollitia aspernatur praesentium iure. Harum asperiores laborum maiores fuga molestias magnam soluta quae qui vitae! Voluptates, quibusdam!</p>
        
        
    </article>
</section>

