.directory{
    list-style: none;
    margin: 2rem 0 0;
    padding: 0;
    .company{
        display: flex;
        .avatar{
            height: 2.5rem;
            width: 2.5rem;
            margin-right: 1rem;
        }
        .info{
            .company--name{
                margin:0;
            }
            .company--address{
                @extend .text-s;
            }
            .company--designers{
                list-style: none;
                margin: 01rem 0 0;
                padding: 0;
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-gap: 0.5rem;
                .avatar{
                    background-size: cover;
                    margin: 0;
                    box-sizing: border-box;
                    border-radius: 50%;
                    display: block;
                    background-color: white;
                    transition: transform 80ms ease-in-out;
                    overflow: hidden;
                    &:hover{
                        border-color: darken($border-color,10);
                        transform: scale(2);
                    }
                    img{
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
        + .company{
            margin-top: 2.5rem;
            padding-top: 2.5rem;
            border-top: solid 1px $border-color;
        }
    }
}