<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site.title}}: {{page.title}}</title>
    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/styles.css">

    <!-- JS -->
    <script src = "https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
    <script src = "/assets/js/index.js"></script>
</head>
<body>
    {{content}}
</body>
</html>